*{
    margin: 0;
    padding: 0;
}

#maindiv{
      width: 100%;
    height: 100%;
    background-image: url("./asset/bgimage.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#maindiv2{
    background-color: rgba(255, 227, 87, 0.647);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

}

#formdiv{
    width: 400px;
    height: 700px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;        
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

}

#heading{
    width: 100%;
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}


#inputdiv{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
   
 input{

    height: 20px;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid gray;
    
 }   
}

#forminputs{
    display: flex;
    flex-direction: column ;
    gap: 6px;
}

#sizediv{
    display: flex;
    flex-direction: column;
    gap: 6px;


#radiodiv{
    display: flex;
    align-items: center;
    gap: 10px;


}
}

#checkboxdiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#flavourdiv{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


#flavourselect{
    display: flex;
    gap: 120px;


    #checkdiv{
        display: flex;
        gap: 10px;
        align-items: center;
    }
  
}

#selectdiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



