* {
  margin: 0;
  padding: 0;
}

#maindiv {
  width: 100%;
  height: 750px;
  background: #3447f7;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-size: 2rem;
}

#formdiv {
  width: 350px;
  height: auto;
  background: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#inputdiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

#input1 {
  border-bottom: 2px solid rgb(144, 144, 144);
  color: rgb(144, 144, 144);
}

input:focus {
  outline: none;
}

input {
  border: none;
}



#remdiv {
  display: flex;
  color: rgb(144, 144, 144);
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  a {
    text-decoration: none;
  }
}
