*{
    margin: 0;
    padding: 0;

}

#main{
    width: 100%;
    height: 100vh;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;

}

#container{
    width: 80%;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.57);
}

#info{
    width: 70%;
    height: 100%;
    background-color: bisque;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#colorinput{
    
    width: 30%;
    height: 100%;
    display: grid;
    grid-template-columns: 180px ;
    align-items: center;
    justify-content:space-evenly ;
    border-left:  1px solid black;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.415);
    
input{
    width: 200px;
}
}