* {
  margin: 0;
  padding: 0;
  user-select: none;
}

#maindiv {
  background-color: #eaf8fe;
  margin-bottom: 200px;
  margin-top: 100px;
}

#maincontainer {
  display: flex;
  align-items: center;
  height: auto;
}

.form-control {
  padding: 14px;
  border-radius: 10px;
}
.form-select {
  padding: 14px;
  border-radius: 10px;
}

.form-select:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid black;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid black;
}

#navbutton {
  background-color: #125785;
  box-shadow: 5px 5px 0px #79b6de;
  border: none;
  padding: 8px;
  border-radius: 10px;
  color: white;
  transition: all 0.1s ease-in-out;
}

#navbutton:active {
  transform: translateY(6px);
  box-shadow: 0px 0px 0px #79b6de;
}

button {
  background: #000;
  color: white;
  border: none;
  width: 130px;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: translateY(-5px);
}

button:active {
  transform: translateY(-2px);
}

#buttondiv {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.dark-check:checked {
  background-color: #000;
  border-color: #000;
}

.dark-check:focus {
  box-shadow: none;
  outline: none;
}

.dark-check {
  width: 18px;
  height: 26px;
}

.primery-5 {
  color: #475467;
}

i {
  transition: all 0.2s ease-in-out !important;
}

a {
  text-decoration: none;
}

i:hover {
  background: #b1fdaf !important;
  box-shadow: 0px 0px 5px #b1fdaf;
  transform: scale(1.3);
}

.lock-cursor {
  cursor: not-allowed;
}

#mainHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  box-shadow: none;
}

#mainHeader.header-visible {
  transform: translateY(0);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

body {
  padding-top: 0px;
}

#mainHeader1 {
  position: relative;
  z-index: 10;
}
