* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(101, 101, 101);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#bulb {
  width: 300px;
  height: 400px;
  border-radius: 100%;
  border: 1px solid black;
}

button {
  width: 100px;
  border-radius: 10px;
  border: none;
  height: 30px;
  box-shadow: 0px 0px 5px white;
}

#btncontrol {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.color{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 100%;
}

#colorpallate{
  background-color: rgb(0, 255, 255);
  display: flex;
}

#c1{
  background-color: blue;
}
