* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#bulb {
  width: 300px;
  height: 400px;
  border-radius: 100%;
}

button {
  width: 100px;
  border-radius: 10px;
  border: none;
  height: 30px;
  box-shadow: 0px 0px 5px white;
}

#btncontrol {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
